.App {
  font-family: arial,sans-serif;
  box-sizing: border-box;
}
.App header {
  width: 100vw;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.App main {
  width: 100vw;
}
.App footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  background-color: #eee;
}